.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #083551;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #7a858f;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 90px; /* Same as the width of the sidenav */
  padding: 10px;
}
@media screen and (max-width: 450px) {
  .sidenav {
    width: 60px;
    padding-top: 0px;
  }
  .sidenav a {
    font-size: 14px;
  }
  .main {
    margin-left: 60px;
  }
}
